spring:
  application:
    name: @name@
    description: @description@
---
info:
  version: @version@
  responsible: Anatoly Cherkasov
  stage: dev
---
management:
  security:
    flag: false
  server:
    port: '@management.port@'
  metrics:
    export:
      statsd:
        flavor: etsy
      prometheus:
        enabled: false
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
---
server:
  port: @server.port@
---
adapter:
  callbackUrl: http://127.0.0.1:8018
  pathAcsUrl: "/mpi/acs"
---
mpi20:
  callbackUrl: http://127.0.0.1:8018
  pathThreeDsMethodUrl: "/mpi20/three_ds_method"
  pathAcsUrl: "/mpi20/acs"

---
fixture:
  cards: classpath:fixture/cards.csv
