body {
    margin: 0;
    padding: 20px;
    font: normal 15px/18px Verdana, sans-serif;
    position: relative;
}
form {
    width: 100%;
    height: 480px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
}
h1 {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 20px;
    text-align: center;
}
.info {
    margin: 10px 0 0;
}
.row {
    display: table;
    width: 100%;
}
.row .left, .row .right {
    display: table-cell;
    width: 50%;
    padding: 5px;
}
.row .left {
    text-align: right;
}
.password {
    width: 100%;
    max-width: 120px;
    border: 1px solid #d3d3d3;
    font-size: 15px;
}
input[type=submit] {
    display: block;
    margin: 25px auto 0;
    padding: 8px 15px;
    background-color: #569b29;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
}
